header.header
	.container
		div(
		class='nav-wrapper'
		id='navigation')
			nav.nav
				ul.nav__list
					li.nav__item
						a(
						class='nav__link'
						href='https://www.google.com/'
						target='blank'
						title='Магазин')
							| В магазин
					li.nav__item
						a(
						class='nav__link'
						href='#priceTitle'
						title='Прайс-лист')
							| Прайс
					li.nav__item
						a(
						class='nav__link'
						href='#formReview'
						title='Оставить отзыв')
							| Оставить отзыв
					li.nav__item
						a(
						class='nav__link'
						href='#contacts'
						title='Контакты')
							| Контакты
			.phones
				.phones__city
					a(
					class='phones__link'
					href='tel:8482379530'
					title='Звонок в офис в Тольятти')
						| Тольятти
						span.phones__content
							| (8482) 37-95-30
				.phones__city
					a(
					class='phones__link'
					href='tel:8464373060'
					title='Звонок в офис в Сызрань')
						| Сызрань
						span.phones__content
							| (8464) 37-30-60
		.start
			h1(
			class='start__title'
			id='start')
				| Сеть автосервисов
			.start__name
				svg.start__logo
					use(
					xlink:href='img/svg/symbol/svg/sprite.symbol.svg#Navigator-logo')
			p.start__text
				| Европейский сервис по отечественной цене
		.options
			ul.options__list
				li.options__item
					.options-content
						.options__img
							svg.options__icon.options__icon_discounts
								use(
								xlink:href="img/svg/symbol/svg/sprite.symbol.svg#discounts-2")
						a(
						class='options__link'
						href='#sliderTitle'
						title='Акции')
							| Всегда выгодные акции
				li.options__item
					.options-content.options-content_center
						.options__img
							svg.options__icon.options__icon_guarantee
								use(
								xlink:href="img/svg/symbol/svg/sprite.symbol.svg#guarantee")
						a(
						class='options__link'
						href='#sliderTitle'
						title='Гарантии')
							| Гарантия на работы
				li.options__item
					.options-content
						.options__img
							svg.options__icon.options__icon_recreation
								use(
								xlink:href="img/svg/symbol/svg/sprite.symbol.svg#recreation")
						a(
						class='options__link'
						href='#sliderTitle'
						title='Комфортная зона отдыха')
							| Комфортная зона ожидания
		.registration
			a(
			class='registration__link'
			href='#form')
				| Записаться
			a(
			class='arrow_header'
			href='#priceTitle')
				svg.arrow_icon
					use(
					xlink:href="img/svg/symbol/svg/sprite.symbol.svg#arrow-down")
			




